dist/
node_modules/
.env
*.local
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars.local
*.auto.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl.bak
